.btn-don{
	background: #4B8DF8;
	width: 150px;
	height: 45px;
	border-radius: 45px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	box-shadow: 0px 8px 15px
		rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}
.btn-don:hover{
	background: #2ceae5;
	transform: translateY(-7px);
	color: #c3dde6;
	box-shadow: 0px 10px 25px
		rgba(46, 223, 229, 0.445);
}