/* Mask group */
.frame {
    position: relative;
    width: 204px;
    height: 325px;
    border: 1px solid;
    background: #FFFFFF;
    background-image: url("../../assets/img/D4.jpg");
}

.content-foto {
    display: flex;
    justify-content: center;
}

 .group_foto {
    /* display: flex;
    justify-content: center; */

    position: absolute;
    width: 90px;
    height: 111px;
    /* left: 64px; */
    overflow: hidden;
    top: 80px;
    background: #D9D9D9;
 }

/* Rectangle 2 */
.pass {
    /* position: absolute;
    width: 90px;
    height: 111px;
    left: 64px;
    top: 80px;
    background: #D9D9D9; */
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

/* NAME OF EMPLOYEE NIK DIVISION */
.iden {
    position: absolute;
    width: 186px;
    height: 70px;
    left: 10px;
    top: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.3em;

    color: #000000;
}


/* PT LEUWIJAYA UTAMA TEXTILE */
.cmp {
    position: absolute;
    width: 182px;
    height: 15px;
    left: 279px;
    top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.divisi {
    position: absolute;
    width: 186px;
    height: 39px;
    left: 10px;
    top: 22px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    /* or 164% */
    text-align: center;
    letter-spacing: 0.3em;



    color: #000000;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        /*Chrome, Safari */
        color-adjust: exact !important;
        /*Firefox*/
    }
}