@media print {
    input.noPrint {
        display: none;
    }
}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.underline2 {
    text-decoration: underline;
}

.overline {
    text-decoration: underline;
}

@supports not (-webkit-text-decoration-skip: objects) {
    .underline {
        filter: url("#svg-underline");
        text-decoration: none;
    }
}

@supports (-ms-ime-align: auto) {
    .underline {
        color: red;
        filter: none;
        text-decoration: underline;
    }
}

@supports not (-webkit-text-decoration-skip: objects) {
    .underline2 {
        filter: url("#svg-underline2");
        text-decoration: none;
    }
}

@supports (-ms-ime-align: auto) {
    .underline2 {
        color: red;
        filter: none;
        text-decoration: underline;
    }
}

@supports not (-webkit-text-decoration-skip: objects) {
    .overline {
        filter: url("#svg-overline");
        text-decoration: none;
    }
}

@supports (-ms-ime-align: auto) {
    .overline {
        color: red;
        filter: none;
        text-decoration: underline;
    }
}

.visuallyHidden {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    width: 1px;
}

.visuallyHidden2 {
    height: 1px;
    margin: -2px;
    overflow: hidden;
    width: 1px;
}

.visuallyHiddenOverline {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    width: 1px;
}

@font-face {
    font-family: 'Exo2-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Exo2-Regular'), url('Exo2-Regular.ttf') format('truetype');

    font-family: 'Staatliches-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Staatliches-Regular'), url('Staatliches-Regular.ttf') format('truetype');
}

.frame {
    overflow: hidden;
    position: relative;
    width: 204px;
    height: 325px;
    border: #000 1px solid;
}

/* NAME ID */

.cmp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;

    position: absolute;
    width: 204px;
    left: 55px;
    top: 45px;
    text-align: center;
}

/* PASS */
.pass {
    width: 200%;
    left: -110px;
    position: absolute;
    /* clip: rect(50px, 315px, 300px, 150px);
    z-index: 1; */
}

.boxframe {
    position: absolute;
    width: 204px;
    height: 325px;
    z-index: 2;
}

.iden {
    position: absolute;
    text-align: center;
    width: 110px;
    /* height: 32px; */
    top: 90px;
    left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000;
}

.nik {
    position: absolute;
    width: 110px;
    height: 15px;
    top: 155px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    z-index: 2;
    color: #000;
}

.pos {
    position: absolute;
    width: 170px;
    height: 18px;
    left: 10px;
    top: 270px;
    /* border-bottom: #fff 1px solid; */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    z-index: 3;
}

.bagian {
    position: absolute;
    width: 120px;
    height: 45px;
    left: 10px;
    top: 292px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    z-index: 3;
    line-height: 15px;
}

.identity-container {
    height: 100px;
    position: relative;
    text-align: center;
}

.identity-content {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    text-align: center;
}

.garis {
    border: 1px solid #000;
}

.ttd {
    position: absolute;
    width: 80px;
    margin-top: 13px;
    left: 60px;
    text-align: center;
}