body {
  background: url(../img/pattern.png);
  min-height: 100vh;
  margin-top: 3rem;
  font-family: 'Poiret One', cursive;
}
.header{
  text-align: center;
}
.header h1{
  font-size: 24px;
  color: #ffffff;
}
.header p{
  color: #ddd;
}
.header p a{
  color: #fff;
}
canvas {
  box-sizing: border-box;
  background-image: url(../global/img/1.jpg);
  background-size: cover;
  border: 20px solid #111;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
}