body {
  box-sizing: border-box;
  background-image: url(../admin/pages/media/bg/1.png);
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  max-width: 1024;
  min-height: 100vh;
  margin-top: 3rem;
 }
.header{
  text-align: center;
}
.header h1{
  font-size: 24px;
  color: #ffffff;
}
.header p{
  color: #ddd;
}
.header p a{
  color: #fff;
}